<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Central Markdown Server</title>
    <script src="axios.js"></script>
    <script src="marked.js"></script>
    <script src="vue.js"></script>
    <script src="vue-router.js"></script>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/fa.css">
    <style>
    body
    {
        background-color: white;
        font-size: 16px;
    }
    </style>
</head>
<body>
<div id="app">
    <div class="row" id="header">
        Markdown Document Server 0.1.0 by Firok
    </div>

    <div class="row" id="body">
        <div class="col-3">

            <ul>
                <li @click="switchParent()">
                    当前 <span v-for="path in this.dir.paths">/{{path}}</span>
                </li>
                <li v-for="childDir in dir.childrenDir"
                @click="clickDir(childDir)">
                    <span class="icon fa fa-sitemap"></span>
                    {{childDir}}
                </li>

                <li v-for="childFile in dir.childrenFile">
                    <span class="icon fa fa-file-text-o"></span>
                    <span class="">{{childFile}}</span>
                </li>
            </ul>
        </div>

        <div class="col-9">
            <div>
                <div v-for="page in pages">
                    <div>{{page.title}}</div>
                    <div v-if="page.type==='doc'">

                    </div>
                </div>
            </div>

            <div>
                body
            </div>
        </div>
    </div>
</div>

</body>
<script src="index2.js"></script>
</html>